<% provide(:title, 'About') %>
<h1>追求进步，创造价值，改变世界</h1>
<p>
    我是张凯，是一名产品经理、工程师，这是我的个人技术博客。  
</p>
<p>
    我致力于用产品经理的角度去发现生活中的问题和市场上的机会，并创造出优秀的产品和服务去解决问题，从而实现自我价值。
</p>
<p>
    如果你对商业、产品、编程、Ruby等主题有兴趣的话，希望能成为朋友，共同进步。  
</p>
<p>
    本博客使用Ruby on Rails开发而成。在此感谢那些创造了如此卓越技术的同仁们，你们是我学习的榜样。
</p>
<p>
    希望我能追求进步，创造价值，改变世界。
</p>