<% provide(:title, 'Contact') %>
<h1>联系我</h1>
<p>
     如果你跟我有一样的兴趣和追求，请联系我！      <br/>
     E-Mail: zk.amazing@gmail.com <br/>
               个人QQ: 282827382            </br>
     太原ROR社区: 279823508            </br>
</p>
