// Place all the styles related to the MainPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.static-words p{
  font-size: 14px;
  padding-left: 10px;
}
div .settings a {
  margin-top: 10px;
}

.article {
  border-bottom: solid 1px #aa8899;
  padding-bottom: 20px;
}

.content {
  margin-top: 15px;
  height: 300px;
  display:block;
  overflow: hidden;
}

.contact {
  margin-top: 20px;
  font-size: 14px;
  &:table {
    margin-top: 5px;
  }
}

.more {
  color: #00ff00;
  font-weight: bold;
  font-size: 18px;
  margin-top: 2em;
}

.read-count {
  margin-left: 2em;
}