// Place all the styles related to the MainPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.static-words p{
  font-size: 14px;
  padding-left: 10px;
}

div .settings a {
  margin-top: 10px;
}

.contact {
  margin-top: 20px;
  font-size: 14px;
  &:table {
    margin-top: 5px;
  }
}

.article {
  border-bottom: solid 1px #aa8899;
  padding: 10px;
  background-color: #CCFFFF;
}

.content {
  margin-top: 15px;
  height: 300px;
  display:block;
  overflow: hidden;
}

.read-count {
  color: #000000;
  margin-left: 2em;
}

.title a:link {
  color: #FF6600;
}
.title a:hover {
  background-color: #ffffff;
}
.title a:visited {
  color: #FF6600;
}

.timestamp {
  float: right;
  color: #000000;
}

.types a:link {
  font-weight: bold;
  color: #330000;
  border: solid 1px #330000;
  padding: 2px;
}
.types a:hover {
  background-color: #ffffff;
}
.types a:visited {
  color: #330000;
}


.more {
  margin-top: 20px;
}
.more a:link {
  font-size: 20px;
}




