<footer class="footer container">
  <small>
    <%= link_to "Zk's Blog", root_path %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact Me", contact_path %></li>
    </ul>
  </nav>
</footer>